
@font-face {
    font-family:'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family:'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
}













/*******************
     MAIN_HEADER
********************/

.main_header{
	background: #49c2c2;
	height: 105px;
	width: 100%;
	top: 0;
	position:absolute;
	z-index:2;
	/*border:1px solid #c2c2c2; 
	border-width: 0px 0px 1px 0px;*/
}

.main_header nav ul li{
	margin-left: 24px;
}
.main_header nav ul li a{
	color: #ffffff;
	font-size:16px;
	font-family:"OpenSans-Regular";
	margin-top: 30px;

}
.main_header nav ul li a:hover{
	/*background: #ff3e3b;
	padding: 6px;
	border-radius: 10px;*/
}
.main_header .navbar-brand{
	margin-bottom:30px;

}
.main_header button{
	/*margin:25px 10px 0px 0px;
	color:#ffffff;
	font-size: 20px;
	background: #ff3e3b;
	padding: 5px 10px;*/
}


		.hidden_header{
			background: #ffffff;
			height: 70px;
			width: 100%;
			top: 0;
			position:fixed;
			z-index:1;
			box-shadow: 1px 5px 4px #888888;
		}
		.hidden_header nav ul li{
			margin-left: 24px;
		}
		.hidden_header nav ul li a{
			color: #666666;
			font-size:16px;
			font-family:"OpenSans-Regular";
			margin-top: 15px;

		}
		.hidden_header nav ul li a:hover{
			/*background: #ff3e3b;
			padding: 6px;
			border-radius: 10px;*/
		}
		.hidden_header .navbar-brand{
			margin-bottom:30px;

		}
		.hidden_header button{
			/*margin:25px 10px 0px 0px;
			color:#ffffff;
			font-size: 20px;
			background: #ff3e3b;
			padding: 5px 10px;*/
		}	



		/*******************
			HIDDEN MENU
		********************/











/*******************
     MAIN_HEADER
********************/




/*******************
     MAIN_CONTENT
********************/
.main_content{
	
	margin-top: 50px;
}
.main_content .header{
	background:#49c2c2;
}
				/*******************
				     SECTION#1
				********************/
				.main_content .header_title{
					font-size: 33px;
					color: #ffffff;
					font-family:"OpenSans-Bold";
					margin-top: 90px;
				}
				.main_content .header_subtitle{
					font-size: 20px;
					color: #ffffff;
					font-family:"OpenSans-Regular";
					margin-top: 10px;
				}
				/*******************
				     SECTION#1
				********************/

				/*******************
				     SECTION#2
				********************/
				.main_content .banner{
					background-image: url('../images/banner.png');
					background-repeat: no-repeat;
					background-size: 100% 100%;
					background-position: center;
					height: 528px;

				}
				.main_content .banner_text{
					color:#ffffff;
					font-size: 20px;
					font-family:"OpenSans-Regular";
					margin-top: 40px;
					background: #3fb0b0;
					height: 107px;
					padding-top:40px;
				}
				.main_content .banner_text span{
					color:#bbe434;
					font-size: 28px;
					font-family:"OpenSans-Bold";
				}
				.main_content .banner_text a{
					color:#ffffff;
					font-size: 18px;
					font-family:"OpenSans-Regular";
					padding:12px 24px;
					background: #d00041;
					border-radius: 10px;
					text-transform: uppercase;
					text-decoration: none;
				}

								/*******************
								     SEARCH_FORM
								********************/
								 .search_form{
								 	margin-top:20px;
								 	z-index:0;

								 }
								 .search_form .form-group{
								 	border:10px solid #71cfcf;
								 	border-radius: 10px; 
								 }
								 .search_form input, button{
								 	height: 65px;
								 	font-size: 16px;
								 	font-family:"OpenSans-Regular";

								 }
								 .search_form button{
								 	background: #d00041;
								 	color: #ffffff;
								 	width:170px;
								 	font-size: 20px;
								 	font-family:"OpenSans-Regular";
								 }
								 .banner_about .search_form {
								 	margin-top: 20px;
								 	margin-bottom: 60px;
								 }
								 .pricing_about .search_form {
								 	margin-top: 20px;
								 	margin-bottom: 60px;
								 }
								/*******************
								     SEARCH_FORM
								********************/

				/*******************
				     SECTION#2
				********************/


				/*******************
				     FEATURES
				********************/
				.features{
					background:#ebebeb;
					padding-bottom: 60px;
				}
				.ft_heading h1{
					color: #464646;
					font-size: 35px;
					font-family:"OpenSans-Bold";
					margin-top: 60px;
					text-align: center;
				}
				.ft_heading p{
					color: #898989;
					font-size: 20px;
					font-family:"OpenSans-Regular";
					text-align: center;
				}

					.ft_heading_about h1{
						color: #464646;
						font-size: 35px;
						font-family:"OpenSans-Bold";
						margin-top: 60px;
					
					}
					.ft_heading_about p{
						color: #898989;
						font-size: 20px;
						font-family:"OpenSans-Regular";
					
					}
					.ft_heading_pricing h1{
						color: #464646;
						font-size: 35px;
						font-family:"OpenSans-Bold";
						margin-top: 60px;
					
					}
					.ft_heading_pricing p{
						color: #898989;
						font-size: 20px;
						font-family:"OpenSans-Regular";
					
					}
					.ft_heading_service h1{
						color: #464646;
						font-size: 35px;
						font-family:"OpenSans-Bold";
						margin-top: 60px;
					
					}
					.ft_heading_service p{
						color: #898989;
						font-size: 20px;
						font-family:"OpenSans-Regular";
					
					}


				.ft_thumbnails div{
					margin:10px 0px 0px 0px;

				}


				/*******************
				     FEATURES
				********************/


				/*******************
				     LATESTUPDATES
				********************/
				.latestupdates{
					background:#ffffff;
					margin-bottom: 50px;
				}
				.latestupdates_heading h1{
					color: #464646;
					font-size: 35px;
					font-family:"OpenSans-Bold";
					margin-top: 60px;
					text-align: center;
				}
				.latestupdates_heading p{
					color: #898989;
					font-size: 20px;
					font-family:"OpenSans-Regular";
					text-align: center;
				}
				.latestupdates_thumbnails .hovereffect{
					margin:30px 0px 0px 0px;

				}
				.latestupdates_thumbnails .hovereffect a{
					text-decoration: none;
					color: inherit;

				}
				.latestupdates_thumbnails .hovereffect i{
					font-size: 30px;
					color: #ffffff;
					padding: 10px 12px;
					background: #49c2c2;
					border-radius: 50px;
					margin-top: 45px;
				}
				.text{
					font-size: 18px;
					color: #898989;
					font-family:"Century Gothic";
					margin-top:90px;
					margin-bottom: 600px;
				}

						/*******************
						     LATESTUPDATES
						********************/
							.lu_buttons{
								margin-bottom: 85px;
							}
							.lu_buttons div a{
								text-decoration: none;
								text-transform: uppercase;
								color: #ffffff;
								background: #49c2c2;
								padding: 13px 35px;
								border-radius: 5px;
								margin-right:10px;
								font-family:"OpenSans-Regular";
								font-size: 16px;
							}


						/*******************
						     LATESTUPDATES
						********************/


				/*******************
				   LATESTUPDATES
				********************/	


				/*******************
				   ABOUT CONTENT
				********************/
				.about_content{
					margin-top: 70px;
					margin-bottom: 70px;
				}
				.about_content .details1 h1{
					font-family:"OpenSans-Bold";
					font-size: 35px;
					color: #414141;
				}
				.about_content .details1 p{
					font-family:"OpenSans-Regular";
					font-size: 16px;
					color: #757575;
				}
				.about_content .details2 {
					margin-top: 70px;
				}
				.about_content .details2 h1{
					font-family:"OpenSans-Bold";
					font-size: 35px;
				}
				.about_content .details2 p{
					font-family:"OpenSans-Regular";
					font-size: 16px;
				}

				/*******************
				   ABOUT CONTENT
				********************/







				/*******************
				     LATESTUPDATES
				********************/


				/*******************
				     PRICING
				********************/
				.pricing{
					margin-bottom: 150px;
					padding-top: 80px;
				}
				.pricing_tabs{
					height: 540px;
					color: #ffffff;
					margin-bottom: -10px;
					float: left;
					width: 100%;
				}
				.pt_heading{
					padding-bottom: 10px;
					float: left;
					width: 100%;
				}
					.free{
						background: #49c2c2;
					}
					.basic{
						background: #9abd2b;
					}
					.yearly{
						background: #d00041;
					}
				.pt_heading h1{
					color: #ffffff;
					font-family:"OpenSans-Bold";
					font-size: 35px;
					font-weight: 600;
					margin-top:0px;
					padding-top: 30px;
				}
				.pt_heading .free_price{
					color: #ffffff;
					font-family:"OpenSans-Bold";
					font-weight: 600;
					float: left;
					margin-left: 110px;
					width: 100%;
				}
						.free_price .sign{
							font-size: 36px;
							float: left;
							margin-top: 67px;	
						}
						.free_price .number{
							font-size: 136px;
							float: left;
							margin-top: -40px;
						}
						.free_price .month{
							font-size: 24px;
							float: left;
							margin-top: 80px;						
						}

				.pt_heading .yearly_price{
					color: #ffffff;
					font-family:"OpenSans-Bold";
					font-weight: 600;
					float: left;
					margin-left: 70px;
					width: 100%;
				}
						.yearly_price .sign{
							font-size: 36px;
							float: left;
							margin-top: 67px;	
						}
						.yearly_price .number{
							font-size: 136px;
							float: left;
							margin-top: -40px;
						}
						.yearly_price .month{
							font-size: 24px;
							float: left;
							margin-top: 80px;						
						}





				.pt_bottom{
					color: #464646;
					background: #ebebeb;
					padding-bottom: 10px;
					float:left;
					width: 100%;
					font-family:"OpenSans-Regular";
					padding-top:40px;
				}
						.pt_bottom h2{
							font-size: 30px;
						} 
						.pt_bottom h1{
							font-size: 30px;
						}
						.pt_bottom p{
							margin-top: 20px;
							font-size: 15px;
							text-align: center;
							padding:0px 30px;
							font-family:"OpenSans-Regular";
							color: #757575;
						}		
						.pt_bottom button{
							font-family:"OpenSans-Regular";
							color: #ffffff;
							font-size: 24px;
							border:none;
							border-radius: 7px;
							padding:6px 70px 10px 70px;
							font-weight: 600;
							margin:30px 0px 30px 0px;
							text-transform: uppercase;

						}


						/*******************
						     PRICING_SERVICE
						********************/
						.service{
							padding-top: 70px;
							margin-bottom: 70px;
						}
						.service_content{
							margin-bottom: 80px;
						}
						.service_content img{
							float:left;
							margin:0px 20px 70px 0px;
						}	
						.service_content h1{
							color: #414141;
							font-size: 25px;
							font-family:"OpenSans-Bold";
						}
						.service_content p{
							color: #757575;
							font-size: 16px;
							font-family:"OpenSans-Regular";

						}






						/*******************
						     PRICING_SERVICE
						********************/	







				/*******************
				     PRICING
				********************/






				/*******************
				     SUBCRIPTION
				********************/
				.subscription{
					background:#f7f7f7;
				}
				.subscription_heading h1{
					color: #414141;
					font-size: 35px;
					font-family:"OpenSans-Bold";
					margin-top: 60px;
				}
				.subscription_heading p{
					color: #757575;
					font-size: 20px;
					font-family:"OpenSans-Regular";
				}
				.subscription_body{
					margin: 10px 0px 100px 0px;
					background: #ffffff;
					padding: 51px 0px 51px 0px
					
				}
				.subscription_body p{
					color: #757575;
					font-family:"OpenSans-Regular";
					font-size: 20px;
				}
				.subscription_body span{
					color: #49c2c2;
					font-family:"OpenSans-Bold";
					font-size: 20px;

				}
				.subscription_body button{
					background: #49c2c2;
					color: #ffffff;
					font-family:"OpenSans-Regular";
					font-size:24px;
					text-transform: uppercase;
					margin-top: 10px;
					
				}
				/*******************
				     SUBCRIPTION
				********************/





/*******************
     MAIN_CONTENT
********************/


/*******************
     MAIN_FOOTER
********************/
footer{


}
.main_footer{
	background: #333333;
	color: #ffffff;
}

.main_footer .footer_heading{
	height: 80px;
	font-size: 16px;
	font-family:"OpenSans-Regular";
	border:1px solid #3c3c3c; 
	border-width: 0px 0px 1px 0px;
}
.main_footer .footer_heading img{
	margin-left: -30px;

}
.main_footer .footer_heading p{
	margin-top: 30px;
	text-align: right;
	
}	

.main_footer .footer_tabs{
	margin-bottom: 90px;
}
.main_footer .footer_tabs h1{
	font-size: 25px;
	font-family:"OpenSans-Bold";
}
.main_footer .footer_tabs p{
	font-size: 16px;
	font-family:"OpenSans-Regular";
}
.main_footer .footer_tabs ul{
	margin-left: -39px;
}
.main_footer .footer_tabs ul li{
	list-style: none;
	font-family:"OpenSans-Regular";
	display: block;
	font-size: 16px;
	margin-bottom:30px; 
}
.main_footer .footer_tabs .form-horizontal input{
	height: 43px;
	font-family:"OpenSans-Regular";
}
.main_footer .footer_tabs .form-horizontal .subcribe{
	background: #49c2c2;
	color: #ffffff;
}






.main_footer .footer_bottom {
	color:#ffffff;
	font-size: 16px;
	font-family:"OpenSans-Regular";
	height: 83px;
	background: #252525;

}
.main_footer .footer_bottom p{
	margin-top: 35px;

}




/*******************
     MAIN_FOOTER
********************/







/****************
   HOVER EFFECT
****************/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}   


/****************
   HOVER EFFECT
****************/